@model GoldMantis.Web.ViewModel.UserEmailAnalysis.Report.ModelReportSendTimesIndex
@{
    Layout = null;
}
<div style="width: 100%; overflow: auto;" class="common-table-container" id="common-table-container">
    <table style="margin-top: 0px; table-layout: fixed;"
           class="table  table-responsive table-striped table-bordered table-hover"
           role="grid">
        <colgroup>
            <col style="width: 40px;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;"/>
            <col style="width: auto;" />
            <col style="width: 150px;"/>
            <col style="width: auto;" />
        </colgroup>
        <thead class="common-table-header">
            <tr role="row">

                @Html.HiddenFor(x => x.SearchEntity.OrderName, new { data_order_name = "" })
                @Html.HiddenFor(x => x.SearchEntity.OrderDirection, new { data_order_direction = "" })
                <th style="text-align: center;">
                    <input type="checkbox" class="common-table-checkbox-all" />
                </th>
                @Html.HiddenFor(x => x.SearchEntity.OrderName, new { data_order_name = "" })
                @Html.HiddenFor(x => x.SearchEntity.OrderDirection, new { data_order_direction = "" })
                @*@(Html.ThOrderHelper<SP_Report_SendTimes>(x => x.JobCode, "工号"))
                @(Html.ThOrderHelper<SP_Report_SendTimes>(x => x.UserName, "姓名"))
                @(Html.ThOrderHelper<SP_Report_SendTimes>(x => x.Email, "邮箱"))
                @(Html.ThOrderHelper<SP_Report_SendTimes>(x => x.DeptName, "部门"))
                @(Html.ThOrderHelper<SP_Report_SendTimes>(x => x.LastEmailUseInfo, "最后一次邮箱使用度"))*@
                <th>工号</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>手机</th>
                <th>部门</th>
                <th>发送次数</th>
                <th>最后一次邮箱使用度</th>

            </tr>
        </thead>
        <tbody>
            @{
                if (Model.GridDataSources != null)
                {
                    foreach (var item in Model.GridDataSources)
                    {
                        <tr role="row" style="text-align: center;color:#F3565D">
                            <td>
                                <input type="checkbox" name="checkboxItem" class="checkboxItem" />
                            </td>
                            <td td-data-content="@item.JobCode">
                                @item.JobCode
                            </td>
                            <td td-data-content="@item.UserName">
                                <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                                    @item.UserName
                                </div>
                            </td>
                            <td td-data-content="@item.Email">
                                <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                                    @item.Email
                                </div>
                            </td>
                            <td td-data-content="@item.Mobile">
                                <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                                    @item.Mobile
                                </div>
                            </td>
                            <td td-data-content="@item.DeptName">
                                <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                                    @item.DeptName
                                </div>
                            </td>
                            <td td-data-content="@item.SendCount">
                                @item.SendCount
                            </td>
                            <td td-data-content="@item.LastEmailUseInfo.ToString("P")">
                                @item.LastEmailUseInfo.ToString("P")
                            </td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>


    <div>
        @{
            if (Model.PaginateHelperObject != null)
            {
                Html.RenderPartial(Url.Content("~/Views/Controls/PaginateAjax.cshtml"), Model.PaginateHelperObject);
            }
        }
    </div>
</div>
